<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890626600176-qu6alim8hh2u9r9lamimhlvtpp3h66e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890626600176-qu6alim8hh2u9r9lamimhlvtpp3h66e2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>890626600176-kgpnjb5fldalvf3j4luh7favnekafbps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAikPTSrU4rPfJOSQsMppQLcqHqkmObJqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>890626600176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eFight</string>
	<key>PROJECT_ID</key>
	<string>opportune-epoch-272119</string>
	<key>STORAGE_BUCKET</key>
	<string>opportune-epoch-272119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890626600176:ios:906ef3cddb2824b5f86635</string>
	<key>DATABASE_URL</key>
	<string>https://opportune-epoch-272119.firebaseio.com</string>
</dict>
</plist>